﻿@model IEnumerable<WebAssgn_team06.Models.Competition>

@if (Model.ToList().Count > 0)
{
    <style>
        .ViewCompetitionBox {
            background-color: #fff;
            border-block-color: #fff;
            border-color: #fff;
            box-shadow: 2px 2px 20px grey;
            padding: 10px;
            margin: auto;
            width: 95%;
            border-radius: 15px;
            font: Poppins;
        }

        h4 {
            left: 100px;
            position: absolute;
        }

        hr.new1 {
            border: 8px solid purple;
            width: 30px;
            left: 100px;
            position: absolute;
        }
    </style>
    <div class="ViewCompetitionBox">
        <hr class="new1">
        <br />
        <br />
        <h4 class="PageTitle">View Competitions</h4>
        <br />
        <br />
       
        <br />
        <br />
        <div class="table-responsive">
            <table id="viewStaff" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Competition ID</th>
                        <th>AreaInterest ID</th>
                        <th>Competition Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Result Released Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CompetitionId.ToString()</td>
                            <td>@item.AreaInterestId.ToString()</td>
                            <td>@item.CompetitionName</td>

                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                            <td>@item.ResultReleasedDate</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Competition"
                                   asp-route-id="@item.CompetitionId">Edit</a> |

                                <a asp-action="Delete" asp-controller="Competition"
                                   asp-route-id="@item.CompetitionId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
else
{
    <span style="color:red">No record found!</span>
}