﻿@model WebAssgn_team06.Models.CriteriaViewModel

@{
    ViewData["Title"] = "CreateCriteria";
}

<!--<h4 class="PageTitle">Add Criteria</h4>
<hr />
<form asp-action="CreateCriteria">
    <fieldset class="FormContent">
        <div class="form-group row">
            <a href="#" id="add">Add</a>
            <label asp-for="CompetitionId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">-->
                @*<input asp-for="CompetitionId" class="form-control" />*@
                <!--<select asp-for="CompetitionId"
                        asp-items="@(new SelectList(
                                @ViewData["CompetitionList"] as List <Competition>,
                                "CompetitionId", "CompetitionName"))"
                        class="form-control"></select>
                <span asp-validation-for="CompetitionId"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Criterias[0].CriteriaName"
                   class="col-sm-3 col-form-label items"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Criterias[0].CriteriaName" class="form-control" />
                <span asp-validation-for="Criterias[0].CriteriaName"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Criterias[0].Weightage"
                   class="col-sm-3 col-form-label items"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Criterias[0].Weightage" class="form-control" />
                <span asp-validation-for="Criterias[0].Weightage"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" id="item-list">
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>


@section Scripts {
    <script>
        $(function () {
            $("#add").click(function (e) {
                e.preventDefault();
                var i = ($(".items").length) / 2;
                //var n = '<br/>' + '<input type="text" class="items" name="users[' + i + '].FirstName" />' +
                    //'<input type="text" class="items" name="users[' + i + '].LastName" />';
                var n = `<div class="form-group row">
            <label asp-for="Criterias[` + i + `].CriteriaName"
                   class="col-sm-3 col-form-label items"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Criterias[` + i + `].CriteriaName" class="form-control" />
                <span asp-validation-for="Criterias[` + i + `].CriteriaName"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Criterias[` + i + `].Weightage"
                   class="col-sm-3 col-form-label items"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Criterias[` + i + `].Weightage" class="form-control" />
                <span asp-validation-for="Criterias[` + i + `].Weightage"
                      class="text-danger"></span>
            </div>
        </div>`;


                $("#item-list").append(n);
            });

        });
    </script>
}-->
