﻿@model IEnumerable<WebAssgn_team06.Models.Competition>

@{
    ViewData["Title"] = "View Competition";
}


<h4 class="PageTitle"></h4>

<p><a asp-action="Create">Create New Competition</a></p>
<!-- Add a partial view to display a list of records
 in a tabular format. -->
<partial name="~/Views/Competition/_ViewCompetition.cshtml" model="@Model" />