﻿@model IEnumerable<WebAssgn_team06.Models.AreaInterest>

@{
    ViewData["Title"] = "View Area of Interest";
}

<p><a asp-action="Create">Create New Area of Interest</a></p>
<!-- Add a partial view to display a list of  records
 in a tabular format. -->
<partial name="~/Views/AreaInterest/_ViewAreaInterest.cshtml" model="@Model" />