﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionSubmission>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewCompetitor" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CompetitorID</th>
                    <th>CompetitionID</th>
                    <th>File</th>
                    <th>Date Time File Upload</th>
                    <th>Appeal</th>
                    <th>VoteCount</th>
                    <th>Ranking</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.Ranking <= 3)
                    {
                        <tr id="rankings">
                            <td>@item.CompetitorId.ToString()</td>
                            <td>@item.CompetitionId.ToString()</td>
                            <td>@item.FileSubmitted</td>
                            <td>@(item.DateTimeFileUpload.HasValue ? item.DateTimeFileUpload.Value.Date.ToString("yyyy-MM-dd") : null)</td>
                            <td>@item.Appeal</td>
                            <td>@item.VoteCount</td>
                            <td class="rank">@item.Ranking</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}