﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionSubmission>

@{
    ViewData["Title"] = "_ViewCSCompetitorScore";
}

<h1>_ViewCSCompetitorScore</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetitorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeFileUpload)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeFileUpload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
