﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionSubmission>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewCompetitor" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CompetitorID</th>
                    <th>CompetitionID</th>
                    <th>File</th>
                    <th>Date Time File Upload</th>
                    <th>Appeal</th>
                    <th>Vote Count</th>
                    <th>Ranking</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CompetitorId.ToString()</td>
                    <td>@item.CompetitionId.ToString()</td>
                    <td>@item.FileSubmitted</td>
                    <td>@(item.DateTimeFileUpload.HasValue ? item.DateTimeFileUpload.Value.Date.ToString("yyyy-MM-dd") : null)</td>
                    <td>@item.Appeal</td>
                    <td>@item.VoteCount</td>
                    <td>@item.Ranking</td>
                    <td>
                        <a asp-action="Ranking" asp-controller="CompetitionSubmission"
                           asp-route-id="@item.CompetitorId" asp-route-CompId="@item.CompetitionId">Ranking</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}