﻿@model WebAssgn_team06.Models.CompetitionSubmissionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<!--Cannot Redirect to competitor homepage-->
<h4>CompetitionSubmission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <input asp-for="CompetitionId" class="form-control" />
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitorId" class="control-label"></label>
                <input asp-for="CompetitorId" class="form-control" />
                <span asp-validation-for="CompetitorId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="FileSubmitted" class="control-label"></label>
                <input asp-for="FileSubmitted" class="form-control" />
                <span asp-validation-for="FileSubmitted" class="text-danger"></span>
            </div>*@
            @*<div class="form-group row">
                <label asp-for="fileToUpload"
                       class="col-sm-3 col-form-label">
                    New Photo (jpg format)
                </label>
                <div class="col-sm-9">
                    <input asp-for="fileToUpload" accept="image/jpeg" />
                </div>
            </div>*@
            <div class="form-group">
                <label asp-for="DateTimeFileUpload" class="control-label"></label>
                <input asp-for="DateTimeFileUpload" class="form-control" />
                <span asp-validation-for="DateTimeFileUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appeal" class="control-label"></label>
                <input asp-for="Appeal" class="form-control" />
                <span asp-validation-for="Appeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoteCount" class="control-label"></label>
                <input asp-for="VoteCount" class="form-control" />
                <span asp-validation-for="VoteCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ranking" class="control-label"></label>
                <input asp-for="Ranking" class="form-control" />
                <span asp-validation-for="Ranking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <h4>Mutliple File Upload</h4>
    <form asp-controller="Home" asp-action="MultipleFiles"
          enctype="multipart/form-data" method="post">
        <input type="file" multiple name="files" />
        <button type="submit">Submit</button>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
