﻿@model WebAssgn_team06.Models.RankingViewModel

@{
    ViewData["Title"] = "IndexRankingPublic";
}

<h4 class="PageTitle">View Ranking</h4>
<!-- Display a list of competition -->
<div class="table-responsive">
    <table id="viewRP" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Competition ID</th>
                <th>Competition Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Result Released Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.competitionList)
            {
                string selectedRow = "";
                if (ViewData["selectedCompetitionId"].ToString()
                == item.CompetitionId.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }
                <tr @Html.Raw(selectedRow)>
                    <td>@item.CompetitionId.ToString()</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.ResultReleasedDate</td>
                    <td>
                        @if (item.ResultReleasedDate <= DateTime.Now)
                        {
                            <a asp-action="IndexRankingPublic" asp-controller="CompetitionSubmission"
                               asp-route-id="@item.CompetitionId">View Submission</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Display a list of competitors for each competition -->
@if (ViewData["selectedCompetitionId"].ToString() != "")
{
    if (Model.competitionSubmissionList.Count != 0)
    {
        <h5>
            Submissions in Competition
            @ViewData["selectedCompetitionId"].ToString() :
        </h5>
        <partial name="~/Views/CompetitionSubmission/_ViewRanking(Public).cshtml"
                 model="@Model.competitionSubmissionList" />

    }
    else
    {
        <h5>No submission for selected competition!</h5>
    }
}
