﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionSubmission>

@{
    ViewData["Title"] = "View Competition Submission";
}

<h4 class="PageTitle">View Competition Result</h4>
<!-- Add a partial view to display a list of competitor records
in a tabular format. -->
<partial name="~/Views/CompetitionSubmission/_ViewCompetitionSubmission(Public).cshtml" model="@Model" />