﻿@model WebAssgn_team06.Models.CompetitionResultViewModel

@{
    ViewData["Title"] = "IndexPublic";
}

<h4 class="PageTitle">View Competition Result</h4>
<!-- Display a list of competition -->
<div class="table-responsive">
    <table id="viewR" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Competition ID</th>
                <th>Competition Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Result Released Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.competitionList)
            {
                string selectedRow = "";
                if (ViewData["selectedCompetitionId"].ToString()
                == item.CompetitionId.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }
                <tr @Html.Raw(selectedRow)>
                    <td>@item.CompetitionId.ToString()</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.ResultReleasedDate</td>
                    <td>
                        <a asp-action="IndexPublic" asp-controller="CompetitionSubmission"
                           asp-route-id="@item.CompetitionId">View Result</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Display a list of competitors for each competition -->
@if (ViewData["selectedCompetitionId"].ToString() != "")
{
    if (Model.competitionSubmissionList.Count != 0)
    {

        <h5>
            Competitors in Competition
            @ViewData["selectedCompetitionId"].ToString() :
        </h5>
        <partial name="~/Views/CompetitionSubmission/_ViewCompetitionSubmission(Public).cshtml"
                 model="@Model.competitionSubmissionList" />

    }
    else
    {
        <h5>No Result for selected competition!</h5>
    }
}


<!-- Display a list of competitors for each competition -->
<!--Used by public to vote for competitors-->
@if (ViewData["selectedCompetitionId"].ToString() != "")
{
    if (Model.competitionSubmissionList.Count != 0)
    {
        @foreach (var item in Model.competitionList)
        {
            @if (item.StartDate <= DateTime.Now && item.EndDate >= DateTime.Now)
            {
                <h5>
                    Competitors in Competition
                    @ViewData["selectedCompetitionId"].ToString() :
                </h5>
                <partial name="~/Views/CompetitionSubmission/_ViewCompetitionSubmission(Public)2.cshtml"
                         model="@Model.competitionSubmissionList" />
            }
        }
        <!--remove after testing-->
        @*<h5>
            Cast Vote for Competitors in Competition
            @ViewData["selectedCompetitionId"].ToString() :
        </h5>
        <partial name="~/Views/CompetitionSubmission/_ViewCompetitionSubmission(Public)2.cshtml"
                 model="@Model.competitionSubmissionList" />*@

    }
    else
    {
        <h5>Voting is not allowed!</h5>
    }
}


