﻿@model WebAssgn_team06.Models.RankingViewModel

@{
    ViewData["Title"] = "IndexRanking";
}

<h4 class="PageTitle">Ranking</h4>
<!-- Display a list of competition -->
<div class="container">
    <div class="row">
        @foreach (var item in Model.competitionList)
        {
            <div class="card" style="width:300px; margin-top:5%; margin-left:3%;">
                <img class="card-img-top" src="~/images/competition.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Competition Name : @item.CompetitionName</h4>
                    <p class="card-text">
                        Area Interest: @item.AreaInterestId
                    </p>
                    <p class="card-text">
                        Start Date: @item.StartDate
                    </p>
                    <p class="card-text">
                        End Date: @item.EndDate
                    </p>
                    <p class="card-text">
                        Result Release Date : @item.ResultReleasedDate
                    </p>
                </div>
                <div class="card-footer">
                    @if (item.ResultReleasedDate >= DateTime.Now)
                    {
                        <a asp-action="IndexRanking" asp-controller="CompetitionSubmission"
                           asp-route-id="@item.CompetitionId" class="btn btn-dark">View Submission</a>
                    }
                </div>
            </div>
            <br>
        }

    </div>
</div>

<!-- Display a list of competition submission for each competition -->
@if (ViewData["selectedCompetitionId"].ToString() != "")
{
    if (Model.competitionSubmissionList.Count != 0)
    {
        <h5>
            Competition submission in Competition
            @ViewData["selectedCompetitionId"].ToString() :
        </h5>
        <partial name="~/Views/CompetitionSubmission/_ViewCompetitionSubmission(Judge).cshtml"
                 model="@Model.competitionSubmissionList" />

    }
    else
    {
        <h5>No submission for selected competition!</h5>
    }
}


