﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionSubmission>

@{
    ViewData["Title"] = "View Competition Submission";
}

<h4 class="PageTitle"></h4>
<p><a asp-action="Create">Competition Submission Form</a></p> <!--Mitha Added for Competition Submission Page-->
<!-- Add a partial view to display a list of competitor records
in a tabular format. -->
@*<partial name="~/Views/CompetitionSubmission/_ViewCompetitionSubmission.cshtml" model="@Model" />*@
  <partial name="~/Views/CompetitionSubmission/Success.cshtml" model="@Model" />