﻿@model WebAssgn_team06.Models.CompetitionSubmission

@{
    ViewData["Title"] = "Ranking";
}

<h4 class="PageTitle">Ranking</h4>
<hr />     
<form asp-action="Ranking">
    <fieldset class="FormContent">
        <div>
            <label>Total Mark:</label>
            <h5>@ViewData["TotalMark"]</h5>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitionId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionId" readonly
                       class="form-control-plaintext" value="@ViewData["CompetitionId"]" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitorId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitorId" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FileSubmitted"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="FileSubmitted" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Appeal"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Appeal" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="VoteCount"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="VoteCount" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Ranking"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Ranking" class="form-control" />
                <span asp-validation-for="Ranking"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Save"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="IndexRanking">Back to List</a>
        </div>
    </fieldset>
</form>


