﻿@model WebAssgn_team06.Models.CompetitionResultViewModel

@{
    ViewData["Title"] = "SubmissionCompetitor";
}

<h1>Competitor Details</h1>

@if (ViewData["selectedCompetitorId"].ToString() != "")
{
    if (Model.competitorList.Count != 0)
    {
        <h5>
            Competitor
            @ViewData["selectedCompetitorId"].ToString() :
        </h5>
        <partial name="~/Views/Competitor/_ViewCompetitor.cshtml"
                 model="@Model.competitorList" />
    }
    else
    {
        <h5>No competitor</h5>
    }
    <div>
        <a asp-action="IndexPublic">Back to List</a>
    </div>
}

