﻿@model WebAssgn_team06.Models.CompetitionSubmission

@{
    ViewData["Title"] = "Vote";
}

<h1>Cast Vote</h1>
<hr />
<form asp-action="Vote">
    <fieldset class="FormContent">
        <div>
            <label>Vote:</label>
            <h5>@ViewData["Vote"]</h5>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitionId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionId" readonly
                       class="form-control-plaintext" value="@ViewData["CompetitionId"]" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitorId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitorId" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="VoteCount"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="VoteCount" readonly
                       class="form-control-plaintext" value="@ViewData["VoteCount"]" />
            </div>
        </div>
        @*<div class="form-group row">
            <label asp-for="FileSubmitted"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="FileSubmitted" readonly
                       class="form-control-plaintext" />
            </div>
        </div>*@
        @*<div class="form-group row">
            <label asp-for="DateTimeFileUpload"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="DateTimeFileUpload" readonly
                       class="form-control-plaintext" />
            </div>
        </div>*@
        @*<div class="form-group row">
            <label asp-for="Appeal"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Appeal" readonly
                       class="form-control-plaintext" />
            </div>
        </div>*@
        @*<div class="form-group row">
            <label asp-for="VoteCount"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="VoteCount"
                       class="form-control" />
            </div>
        </div>*@
        @*<div class="form-group row">
            <label asp-for="Ranking"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Ranking" class="form-control" />
                <span asp-validation-for="Ranking"
                      class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" id"myBtn" value="Confirm Vote" onclick="myFunction()"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="IndexPublic">Back to List</a>
        </div>
    </fieldset>
</form>

<script>
    function myFunction() {
        document.getElementById("myBtn").style.display = "none";
        return false;
    }
</script>