﻿@{
    ViewData["Title"] = "Competitor Main Page";
}
<h1 style="color:rebeccapurple; margin:auto; text-align:center; margin-top:5%; font:bold">Welcome Back! Competitor</h1>
<img id="imgMainPic" src="~/images/competitorHome.jpg"
     class="img-fluid" style="display:block; margin:auto;" />

<div>
    <h4>Mutliple File Upload</h4>
    <form asp-controller="Home" asp-action="MultipleFiles"
          enctype="multipart/form-data" method="post">
        <input type="file" multiple name="files" />
        <button type="submit">Submit</button>
    </form>
</div>