﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
    initial-scale = 1" />
    <title>Judgeish</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap" rel="stylesheet">

    <style>
        body {
            /*font-family: Arial, Helvetica, sans-serif;*/
            /*background-color: rgba(0, 0, 255, 0.1);*/
            background-color: rgba(0, 0, 255, 0.1);
            font: Poppins;
        }

        /* Full-width input fields */
        input[type=email] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        #container {
            text-align: center;
        }

        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        .but {
            background-color: dodgerblue;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        /* Center the image and position the close button */
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            padding-top: 60px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: red;
                cursor: pointer;
            }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .footer-basic {
            border-top: solid;
            padding: 40px 0;
            background-color: #ffffff;
            color: #4b4c4d;
        }

            .footer-basic ul {
                padding: 0;
                list-style: none;
                text-align: center;
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 0;
            }

            .footer-basic li {
                padding: 0 10px;
            }

            .footer-basic ul a {
                color: inherit;
                text-decoration: none;
                opacity: 0.8;
            }

                .footer-basic ul a:hover {
                    opacity: 1;
                }

            .footer-basic .social {
                text-align: center;
                padding-bottom: 25px;
            }

                .footer-basic .social > a {
                    font-size: 24px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    margin: 0 8px;
                    color: inherit;
                    opacity: 0.75;
                }

                    .footer-basic .social > a:hover {
                        opacity: 0.9;
                    }

            .footer-basic .copyright {
                margin-top: 15px;
                text-align: center;
                font-size: 13px;
                color: #aaa;
                margin-bottom: 0;
            }
        /*Button CSS*/
        .btn {
            box-sizing: border-box;
            background-color: transparent;
            border: 2px solid #5D18C5;
            border-radius: 0.6em;
            color: #5D18C5;
            cursor: pointer;
            /*display: flex;*/
            align-self: center;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            margin: 20px;
            padding: 1.2em 2.8em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

            .btn:hover, .btn:focus {
                color: #000;
                outline: 0;
            }

        .third {
            border-color: #5D18C5;
            color: #fff;
            box-shadow: 0 0 40px 40px #5D18C5 inset, 0 0 0 0 #5D18C5;
            transition: all 150ms ease-in-out;
        }

            .third:hover {
                box-shadow: 0 0 10px 0 #5D18C5 inset, 0 0 10px 4px #5D18C5;
            }

        .every {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            align-self: center;
        }

        h1 {
            font-family: 'Fira Sans', sans-serif;
        }

        h2 {
            font-family: 'Fira Sans', sans-serif;
        }

        p {
            font-family: 'Mukta', sans-serif;
        }

        .quote {
            font-family: 'Noto Serif SC', serif;
        }

        .contact-form {
            background: #fff;
            margin-bottom: 5%;
            width: 70%;
        }

            .contact-form .form-control {
                border-radius: 1rem;
            }

        .contact-image {
            text-align: center;
        }

            .contact-image img {
                border-radius: 6rem;
                width: 11%;
                margin-top: -3%;
                transform: rotate(29deg);
            }

        .contact-form form {
            padding: 14%;
        }

            .contact-form form .row {
                margin-bottom: -7%;
            }

        .contact-form h3 {
            margin-bottom: 8%;
            margin-top: -10%;
            text-align: center;
            color: #0062cc;
        }

        .contact-form .btnContact {
            width: 50%;
            border: none;
            border-radius: 1rem;
            padding: 1.5%;
            background: #dc3545;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
        }

        .btnContactSubmit {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            color: #fff;
            background-color: #0062cc;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header>
        @await Html.PartialAsync("_HomeMenu.cshtml")
    </header>
    <div class="container" id="mainContainer2">
        <div class="first-container">
            <div style="text-align: center; margin-top:10%">
                <img id="imgLogo" src="~/images/weblogo.png"
                     style="width: 15%" />
                <h1>A Real-Time Competition Judging Platform For All !</h1>
                <p style="padding-right: 20%; padding-left: 20%">
                    Lion City University organizes various competitions among its wide variety of faculties which are well received among its students and the public members. 
                    Judgeish is for everyone that needs to judge a competition. From pageants and awards nights to taste testing the prefect soda pop. Judgeish is designed to provide an
                    easy real-time platform to manage your event.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <!--Features Button-->
                            <div class="every" style="display: inline-block;">
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <a href="#features" class="btn third" style="display: inline-block;">Features</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Login Button -->
                            <div class="every" style="padding-right:110px;padding-left:20px; display: inline-block;">
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;display: inline-block;" class="btn third">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Quote section-->
    <section id="quote" style="margin-top:20%">
        <div class="container">
            <h3 class="text-center quote">@ViewData["quote"]</h3>
            <p class="text-center fw-light">@ViewData["author"]</p>
        </div>
    </section>
    
    <!--Feature section-->
    <section id="features" style="margin-top:15%">
        <div class="container">
            <h2>Features</h2>
            <div class="row">
                <div class="card col" style="margin-left:4px; margin-right:4px">
                    <img src="~/images/comp1.jpg" class="card-img-top" style="width:100%; height:50%" alt="feature">
                    <div class="card-body">
                        <h4 class="card-title"><b>Create Competition</b></h4>
                        <p class="card-text">Administrators can create competition for a particular area of interest. Schedule the competition, assign judges, and the competition is ready to begin!</p>
                    </div>
                </div>
                <div class="card col" style="margin-left:4px; margin-right:4px">
                    <img src="~/images/comp2.jpg" class="card-img-top" style="width:100%; height:50%" alt="feature">
                    <div class="card-body">
                        <h4 class="card-title"><b>Join Competition</b></h4>
                        <p class="card-text">Create a competitor profile to join a competition. Submit your competition works through the platform and when the competition has ended, you can view your scores.</p>
                    </div>
                </div>
                <div class="card col" style="margin-left:4px; margin-right:4px">
                    <img src="~/images/comp3.jpg" class="card-img-top" style="width:100%; height:50%" alt="feature">
                    <div class="card-body">
                        <h4 class="card-title"><b>Competition Judging</b></h4>
                        <p class="card-text">Judges can create judging criteria, assign sores for competitors, and rank them.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--How to use section-->
    <section id="htu" style="margin-top:10%">
        <div class="container">
            <h2>How To Use?</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/step0.png" alt="First slide">
                        <div class="carousel-caption d-none d-md-block" style="background-color: white">
                            <h5 style="color:black">View Competition</h5>
                            <p style="color:black">View Competition and its judging criteria</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/step1.png" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block" style="background-color: white">
                            <h5 style="color:black">Create Competition</h5>
                            <p style="color:black">Create Competition with different Area of Interest</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/step3.png" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block" style="background-color: white">
                            <h5 style="color:black">Assign Score</h5>
                            <p style="color:black">Assign Score for Each Competitor</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/step4.png" alt="Forth slide">
                        <div class="carousel-caption d-none d-md-block" style="background-color: white">
                            <h5 style="color:black">Profile</h5>
                            <p style="color:black">View profile and Edit profile</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/step5.png" alt="Fifth slide">
                        <div class="carousel-caption d-none d-md-block" style="background-color: white">
                            <h5 style="color:black">Comment</h5>
                            <p style="color:black">Post your comment anytime!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="color:black">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <!--FAQ section-->
    <section id="faq" style="margin-top:10%">
        <div class="container">
            <h2>FAQ</h2>
            <div class="row">
                <div class="card col-lg-3 col-md-4 col-sm-12" style="margin-left:2%; margin-right:2%; margin-top:2%">
                    <div class="card-body">
                        <h4 class="card-title"><b>Free app? What's the catch?</b></h4>
                        <p class="card-text">
                            There isn’t one. Judgeish can always be used with the free plan and is packed full of features.
                            For unique or business-level events, there are premium features available.

                            Sign up today and streamline your competition scoring.
                        </p>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-12" style="margin-left:2%; margin-right:2%; margin-top:2%">
                    <div class="card-body">
                        <h4 class="card-title"><b>Can I run multiple events at once?</b></h4>
                        <p class="card-text">By default you can have one active event running at a time which suites most use cases. If you require more look into the premium features in Judgeish.</p>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-12" style="margin-left:2%; margin-right:2%; margin-top:2%">
                    <div class="card-body">
                        <h4 class="card-title"><b>How many Judges can we have at our event?</b></h4>
                        <p class="card-text">Judgeish allows up to 1000 active judges on any one event. Perfect for almost all sized competitions.</p>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-12" style="margin-left:2%; margin-right:2%; margin-top:2%">
                    <div class="card-body">
                        <h4 class="card-title"><b>We want to use Judgeish at our school event, is this possible?</b></h4>
                        <p class="card-text">Not only is it possible, this is a scenario where Judgeish really shines. With Audience participation through polls, surveys and questions, and an inbuilt profanity filter, Judgeish is perfect for any competition judging event.</p>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-12" style="margin-left:2%; margin-right:2%; margin-top:2%">
                    <div class="card-body">
                        <h4 class="card-title"><b>Do I need an Internet connection to use Judgeish?</b></h4>
                        <p class="card-text">Yes, to use Judgeish at your event you will need to be connected to the internet. However all functions are available via the app – no additional software is required.</p>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-4 col-sm-12" style="margin-left:2%; margin-right:2%; margin-top:2%">
                    <div class="card-body">
                        <h4 class="card-title"><b>Can Judgeish do '...'</b></h4>
                        <p class="card-text">
                            Send us all your feedback and especially feature suggestions to
                            judgeish.feedback@gmail.com or <a href="#contact"> Contact Us</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Contact section-->
    <section id="contact" style="margin-top:10%">
        <div class="container">
            <h2>Contact</h2>
        </div>
        <div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
            </div>
            <form action="https://formspree.io/f/xknkqbjq" method="POST">
                <h3>Drop Us a Message</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="_replyto" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="Phone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="Message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!--Footer-->
    <div class="footer-basic" style="margin-top:10%">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#features">Feature</a></li>
                <li class="list-inline-item"><a href="#htu">How To Use</a></li>
                <li class="list-inline-item"><a href="#faq">FAQ</a></li>
                <li class="list-inline-item"><a href="#contact">Contact</a></li>
                <li class="list-inline-item"><a href="~/Home/Privacy">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Judgeish © 2021</p>
        </footer>
    </div>

    <!--Login window-->
    <div id="id01" class="modal">

        <form class="modal-content animate" method="post" action="~/Home/StaffLogin">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/images/img_avatar2.png" alt="Avatar" class="avatar" style="width:200px; height:200px;">
            </div>

            <div class="container">
                <label for="txtLoginID"><b>Login ID</b></label>
                <input placeholder="Enter Username" type="email" name="txtLoginID"
                       id="txtLoginID" style="border-radius: 8px;border:none;" required>

                <div style="border-radius: 8px;">
                    <label for="txtPassword"><b>Password</b></label>
                    <br />
                    <input placeholder="Enter Password" type="password" name="txtPassword"
                           id="txtPassword" style="width:200px;border-radius: 8px;border:none;"
                           required>
                </div>
                <div class="every" style="padding-right: 200px;">
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" id="btnStaffLogin" value="Login" class="btn third" style="width:180px;">Login</button>
                        </div>
                    </div>
                </div>
                <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));" />
                <br />
                <span style="color:red;">@TempData["Message"]</span>
            </div>

            <!--Sign in with google button-->
            <div style="padding-right:70px;">
                <div class="container" style="width: 400px;">
                    <div class="row">
                        <div class="col text-center">
                            <a href="~/Home/CompetitorLogin" class="btn btn-light btn-lg btn-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                </svg> &nbsp;Sign in with Google
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="background-color:#f1f1f1; ">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn but" style="border-radius: 8px;">Cancel</button>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
