﻿@{
    ViewData["Title"] = "Judge Main Page";
}
<h1 style="color:rebeccapurple; margin:auto; text-align:center; margin-top:5%; font:bold">Welcome Back! Judge</h1>
<img id="imgMainPic" src="~/images/judgeHome.png"
     class="img-fluid" style="display:block; margin:auto;" />
