﻿@{
    Layout = null;
}
@{
    ViewData["Title"] = "SignUp";
}


<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
        initial-scale = 1" />
    <title>Judgeish</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <body>
        <header>
            @await Html.PartialAsync("_HomeMenu.cshtml")
        </header>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <a href="~/Competitor/Create" class="btn btn-light btn-lg btn-block"><i class="fa fa-users" aria-hidden="true"></i> Competitor</a>
                    <a href="~/Judge/Create" class="btn btn-light btn-lg btn-block"><i class="fa fa-futbol-o" aria-hidden="true"></i> Judge</a>
                </div>
            </div>
        </div>

    </body>

</html>





