﻿@{
    ViewData["Title"] = "Admin Main Page";
}
<h1 style="color:rebeccapurple; margin:auto; text-align:center; margin-top:5%; font:bold">Welcome Back! Administrator</h1>
<img id="imgMainPic" src="~/images/adminimg.png"
     class="img-fluid" style="display:block; margin:auto;" />

