﻿@model IEnumerable<WebAssgn_team06.Models.Criteria>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewCriteria" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Criteria Name</th>
                    <th>Weightage</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CriteriaId.ToString()</td>
                        <td>@item.CriteriaName</td>
                        <td class="weightage">@item.Weightage.ToString()</td>
                        <td>
                            <a asp-action="Delete" asp-controller="Criteria"
                                asp-route-id="@item.CriteriaId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}
