﻿@model IEnumerable<WebAssgn_team06.Models.Criteria>

@{
    ViewData["Title"] = "Competition";
}

<h1>Competition</h1>


    <div class="table-responsive">
        <table id="viewCriteria" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Competition ID</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CompetitionId.ToString()
                        </td>
                        <td>
                            <a asp-action="Create" asp-controller="Criteria"
                               asp-route-id="@item.CompetitionId">Create</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   
