﻿@model WebAssgn_team06.Models.Criteria

@{
    ViewData["Title"] = "Create";
}


<h4 class="PageTitle">Add Criteria</h4>
<hr />
<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitionId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionId" class="form-control form-control-plaintext" value="@ViewData["selectedCompetitionId"].ToString()" readonly />
                <span asp-validation-for="CompetitionId"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CriteriaName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CriteriaName" class="form-control" />
                <span asp-validation-for="CriteriaName"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Weightage"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Weightage" class="form-control" />
                <span asp-validation-for="Weightage"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" id="item-list">
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>

