﻿@model WebAssgn_team06.Models.CriteriaViewModel

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">View Competition</h4>
<!-- Display a list of competition -->
<div class="container">
    <div class="row">
        @foreach (var item in Model.competitionList)
        {
            <div class="card" style="width:300px; margin-top:5%; margin-left:3%;">
                <img class="card-img-top" src="~/images/competition.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Competition Name : @item.CompetitionName</h4>
                    <p class="card-text">
                        Area Interest: @item.AreaInterestId
                    </p>
                    <p class="card-text">
                        Start Date: @item.StartDate
                    </p>
                    <p class="card-text">
                        End Date: @item.EndDate
                    </p>
                    <p class="card-text">
                        Result Release Date : @item.ResultReleasedDate
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" asp-controller="Criteria"
                       asp-route-id="@item.CompetitionId" class="btn btn-dark">View Criteria</a>
                </div>
            </div>
            <br>
        }

    </div>
</div>

<!-- Display a list of criteria for each competition -->
@if (ViewData["selectedCompetitionId"].ToString() != "")
{
    <h5 id="result" style="color:red; margin-top:5%"></h5>
    <a asp-action="Create" asp-controller="Criteria"
       asp-route-id="@ViewData["selectedCompetitionId"]" id="createBtn" class="btn btn-dark" style="margin-bottom:1%">Create Criteria</a>

    if (Model.criteriaList.Count != 0)
    {
        <h5>
            Criteria in Competition
            @ViewData["selectedCompetitionId"].ToString() :
        </h5>

        <partial name="~/Views/Criteria/_ViewCriteria.cshtml"
                 model="@Model.criteriaList" />

    }
    else
    {
        <h5>No criteria for selected competition!</h5>
    }
}

@section Scripts {
    <script>
        var sum = 0;
        var sum2 = 0;
        $('.weightage').each(function () {
            sum += parseInt($(this).text());
        });

        if (sum < 100) {
            sum2 = 100 - sum;
            document.getElementById("result").innerHTML = "You can create up to " + sum2 + "%";
        }
        else if (sum == 100) {
            document.getElementById("result").innerHTML = "Finish create criteria";
            document.getElementById("createBtn").style.display = "none";
        }
        else if (sum > 100) {
            document.getElementById("createBtn").style.display = "none";
            document.getElementById("result").innerHTML = "Weightage must be 100%. Please recreate/delete your weightage.";
        }
    </script>
}
