﻿@model IEnumerable<WebAssgn_team06.Models.Criteria>

@{
    ViewData["Title"] = "View Criteria";
}

<h4 class="PageTitle">View Criteria</h4>
<p><a asp-action="Create">Create New Criteria</a></p>
<!-- Add a partial view to display a list of criteria
in a tabular format. -->
<partial name="~/Views/Criteria/_ViewCriteria.cshtml" model="@Model" />