﻿<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/Home/Index"
       style="font-size:32px; font-weight:bold; color:#3399FF;">
        Judgeish
    </a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="staffNavbar">
        <!-- Links that are aligned to the left, mr-auto: right margin auto-adjusted -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!--Orginal version-->
                <a class="nav-link" href="~/Home/Index">Home</a>
            </li>
            <li class="nav-item">
                <!--Orginal version-->
                <a class="nav-link" href="~/Comment/Index">Comment</a>
            </li>
            <li class="nav-item">
                <!--Orginal version-->
                <a class="nav-link" href="~/CompetitionSubmission/IndexPublic">Result</a>
            </li>
            <li class="nav-item">
                <!--Orginal version-->
                <a class="nav-link" href="~/CompetitionSubmission/IndexRankingPublic">Ranking</a>
            </li>


        </ul>
        <!-- Links that are aligned to the right,
            ml-auto: left margin auto-adjusted -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging out user -->
                <a class="nav-link" href="~/Home/SignUp">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>
