﻿<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/Home/StaffMain"
       style="font-size:32px; font-weight:bold; color:#3399FF;">
        Judgeish
    </a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="staffNavbar">
        <!-- Links that are aligned to the left, mr-auto: right margin auto-adjusted -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!--Orginal version-->
                <a class="nav-link" href="~/Rental/Calculate"> Rental Calculator</a>

                <!--Xuan Qing Feature 1-->
                @*<a class="nav-link" href="~/Judge/Index">View Judge</a>*@

                <!--Shani Feature 1-->
                <a class="nav-link" href="~/CompetitionSubmission/Index">View Results</a>

                <!--Hannah Feature 1-->
                @*<a class="nav-link" href="~/AreaInterest/Index">View Area Of Interest</a>*@

                <!--Mitha Feature 1-->
                <a class="nav-link" href="~/Competitor/Index">View Competitor</a>

            </li>
            <li class="nav-item">
                <!--Orginal version-->
                <a class="nav-link" href="~/Fine/Calculate">Fine Calculator</a>

                <!--Xuan Qing Feature 2-->
                @*<a class="nav-link" href="~/Criteria/Index">View Criteria</a>*@

                <!--Shani Feature 2-->
                <a class="nav-link" href="~/Comment/Index">View Comment</a>

                <!--Hannah Feature 2-->
                @*<a class="nav-link" href="~/Competition/Index">View Competitions</a>*@

                <!--Mitha Feature 2-->
                <a class="nav-link" href="~/Competition/Index">View Competitions</a>
            </li>
            <li class="nav-item">
                <!--Orginal version-->
                <a class="nav-link" href="~/Staff/Index">View Staff</a>

                <!--Xuan Qing Feature 3-->
                @*<a class="nav-link" href="~/CompetitionScore/Index">View Competition Score</a>*@

                <!--Shani Feature 3-->
                @*<a class="nav-link" href="~/CompetitionVote/Index">Vote for Competitors</a>*@

                <!--Hannah Feature 3-->
                @*<a class="nav-link" href="~/CompetitionJudge/Index">Assign Judge</a>*@

                <!--Mitha Feature 3-->
                <a class="nav-link" href="~/CompetitionSubmission/Index">Competition Submission Form</a>
            </li>
            <li class="nav-item">
                <!--Orginal version-->
                <a class="nav-link" href="~/Branch/Index">View Branch</a>

                <!--Xuan Qing Feature 4-->
                @*<a class="nav-link" href="~/CompetitionSubmission/Index">View Competition Submission</a>*@

                

            </li>
            
        </ul>
        <!-- Links that are aligned to the right,
            ml-auto: left margin auto-adjusted -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging out user -->
                <a class="nav-link" href="~/Home/LogOut">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
