﻿@model IEnumerable<WebAssgn_team06.Models.Competitor>

@if (Model.ToList().Count > 0)
{
    @foreach (var item in Model)
    {
        if (Context.Session.GetString("LoginID") == item.Email)
        {
            <div class="container" style="margin-top:5%">
                <div class="main-body">
                    <div class="row gutters-sm">
                        <div class="col-md-4 mb-3">
                            <div class="judgecard">
                                <div class="judgecard-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="~/images/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                        @*@{ string imageFileName = item.CompetitorName + ".jpg"; }
                                            <img src="~/images/@imageFileName"
                                                    style="width:50px" />*@
                                        <div class="mt-3">
                                            <h4>@item.Salutation @item.CompetitorName</h4>
                                            <p class="text-secondary mb-1">Competitor</p>
                                            <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                        </div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Competitor"
                                               asp-route-id="@item.CompetitorID">Delete Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="judgecard mb-3">
                                <div class="judgecard-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Competitor ID</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @item.CompetitorID.ToString()
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Full Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @item.Salutation @item.CompetitorName
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            @item.Email
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            (239) 816-9029
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Mobile</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            (320) 380-4539
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            Bay Area, San Francisco, CA
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row" style="margin-top:3%">
                                        <div class="col-sm-12">
                                            <a class="btn btn-info " asp-action="Edit" asp-controller="Competitor" asp-route-id="@item.CompetitorID">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
}
else
{
    <span style="color:red">No record found!</span>
}