﻿@model WebAssgn_team06.Models.Competitor

@{
    ViewData["Title"] = "Create";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <style type="text/css">
        body {
            background-color: rgba(0, 0, 255, 0.1);
            font: Poppins;
        }

        h4 {
            left: 100px;
            position: absolute;
        }

        hr.new1 {
            border: 8px solid purple;
            width: 30px;
            left: 100px;
            position: absolute;
        }

        .btn {
            box-sizing: border-box;
            background-color: transparent;
            border: 2px solid #5D18C5;
            border-radius: 0.6em;
            color: #5D18C5;
            cursor: pointer;
            display: flex;
            align-self: center;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            margin: 20px;
            padding: 1.2em 2.8em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

            .btn:hover, .btn:focus {
                color: #000;
                outline: 0;
            }

        .third {
            border-color: #5D18C5;
            color: #fff;
            box-shadow: 0 0 40px 40px #5D18C5 inset, 0 0 0 0 #5D18C5;
            transition: all 150ms ease-in-out;
        }

            .third:hover {
                box-shadow: 0 0 10px 0 #5D18C5 inset, 0 0 10px 4px #5D18C5;
            }

        .every {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            align-self: center;
        }

        .FormContent {
            background-color: #fff;
            border-block-color: #fff;
            border-color: #fff;
            box-shadow: 2px 2px 20px grey;
        }
    </style>
</head>
<body>


    @* According to Adobe XD prototype,
        The form should have
        - Name
        - Confirm Email Address
        - DOB
        - Gender
        - Upload Picture for Profile Photo*@
    <form asp-action="Create">
        <fieldset class="FormContent">
            <hr class="new1">
            <br />
            <br />
            <h4 class="PageTitle">Create Your Profile</h4>
            <br />
            <br />
            <div class="form-group row">
                <label asp-for="CompetitorName"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="CompetitorName" class="form-control" />
                    <span asp-validation-for="CompetitorName"
                          class="text-danger"></span>
                </div>
            </div>

            @* This part is for radio buttons *@
            @*<div class="form-group row">
                           <label asp-for="Gender"
                                  class="col-sm-3 col-form-label"></label>
                           <div class="col-sm-9 col-md-5">
                               <div class="form-group form-check-inline">
                                   <label class="col-form-label">
                                       <input asp-for="Gender" type="radio" value="M"
                                              checked class="form-check-input" />
                                       <span style="font-weight:normal;
                padding-right:20px">Male</span>
                                   </label>
                                   <label class="col-form-label">
                                       <input asp-for="Gender" type="radio" value="F"
                                              class="form-check-input" />
                                       <span style="font-weight:normal;
                padding-right:20px">Female</span>
                                   </label>
                               </div>
                           </div>
                       </div>*@

            @* Date of Birth *@
            @*<div class="form-group row">
                    <label asp-for="DOB"
                           class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 col-md-5">
                        <input asp-for="DOB" class="form-control" />
                        <span asp-validation-for="DOB"
                              class="text-danger"></span>
                    </div>
                </div>*@

            @* Salutation *@
            <div class="form-group row">
                <label asp-for="Salutation"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <select asp-for="Salutation"
                            asp-items="@ViewData["SalutationList"]
                            as List<SelectListItem>"
                            class="form-control">
                    </select>
                </div>
            </div>

            @* Email *@
            <div class="form-group row">
                <label asp-for="Email"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"
                          class="text-danger"></span>
                </div>
            </div>

            @* Salary *@
            @*<div class="form-group row">
                    <label asp-for="Salary"
                           class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 col-md-5">
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary"
                              class="text-danger"></span>
                    </div>
                </div>*@

            @* IsFullTime *@
            @*<div class="form-group row">
                    <div class="checkbox col-sm-9 offset-sm-3">
                        <input asp-for="IsFullTime" />
                        <label asp-for="IsFullTime" class="col-form-label">
                        </label>
                    </div>
                </div>*@
            <div class="form-group row">
                <label asp-for="Password"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"
                          class="text-danger"></span>
                </div>
            </div>

            <div class="every">
                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <input type="submit" value="Create"
                               class="btn third" />
                    </div>
                </div>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </fieldset>
    </form>
</body>
</html>
