﻿@model IEnumerable<WebAssgn_team06.Models.Competitor>

@{
    ViewData["Title"] = "View Competitor";
}

<h4 class="PageTitle">View Competitor</h4>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="~/Views/Competitor/_ViewCompetitor.cshtml" model="@Model" />