﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionJudge>

@if (Model.ToList().Count > 0)
{
    <style>
        .ViewBox {
            background-color: #fff;
            border-block-color: #fff;
            border-color: #fff;
            box-shadow: 2px 2px 20px grey;
            padding: 10px;
            margin: auto;
            width: 95%;
            border-radius: 15px;
            font: Poppins;
        }

        h4 {
            left: 100px;
            position: absolute;
        }

        hr.new1 {
            border: 8px solid purple;
            width: 30px;
            left: 100px;
            position: absolute;
        }
    </style>
    <div class="ViewBox">
        <hr class="new1">
        <br />
        <br />
        <h4 class="PageTitle">View Judges Assigned</h4>
        <br />
        <br />

        <br />
        <br />
        <div class="table-responsive">
            <table id="viewStaff" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Competition ID</th>
                        <th>Competition Name</th>
                        <th>Judge ID</th>
                        <th>Judge Name</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CompetitionId.ToString()</td>
                            <td>@item.CompetitionName.ToString()</td>
                            <td>@item.JudgeId.ToString()</td>
                            <td>@item.JudgeName.ToString()</td>

                            <td>


                                <a asp-action="Delete" asp-controller="CompetitionJudge"
                                   asp-route-id="@item.JudgeId">Delete</a>

                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
        }
        else
        {
        <span style="color:red">No record found!</span>
        }
