﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionJudge>

@{
    ViewData["Title"] = "Assign Judges";
}


@*<h4 class="PageTitle">View Judges Assigned</h4>*@
<p><a asp-action="Create">Assign Judges</a></p>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="~/Views/CompetitionJudge/_ViewCompetitionJudge.cshtml" model="@Model" />