﻿@model IEnumerable<WebAssgn_team06.Models.Criteria>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewCriteria" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Competition ID</th>
                    <th>Criteria Name</th>
                    <th>Weightage</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CriteriaId.ToString()</td>
                        <td>@item.CompetitionId.ToString()</td>
                        <td>@item.CriteriaName</td>
                        <td class="weightage">@item.Weightage.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>

        <h5 id="result"></h5>
    </div>
    <a href="~/CompetitionSubmission/Create">Join Competition</a>
}
else
{
    <span style="color:red">No record found!</span>
}
