﻿@model WebAssgn_team06.Models.CriteriaViewModel

@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <style type="text/css">
        body {
            background-color: rgba(0, 0, 255, 0.1);
            font: Poppins;
        }

        .btn {
            box-sizing: border-box;
            background-color: transparent;
            border: 2px solid #5D18C5;
            border-radius: 0.6em;
            color: #5D18C5;
            cursor: pointer;
            display: flex;
            align-self: center;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            margin: 20px;
            padding: 1.2em 2.8em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

            .btn:hover, .btn:focus {
                color: #000;
                outline: 0;
            }

        .third {
            border-color: #5D18C5;
            color: #fff;
            box-shadow: 0 0 40px 40px #5D18C5 inset, 0 0 0 0 #5D18C5;
            transition: all 150ms ease-in-out;
        }

            .third:hover {
                box-shadow: 0 0 10px 0 #5D18C5 inset, 0 0 10px 4px #5D18C5;
            }

        .every {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            align-self: center;
        }

        .FormContent {
            background-color: #fff;
            border-block-color: #fff;
            border-color: #fff;
            box-shadow: 2px 2px 20px grey;
        }
    </style>
</head>
<body>
    <h4 class="PageTitle">View Competition</h4>
    <!-- Display a list of competition -->
    <div class="container">
        <div class="row">
            @foreach (var item in Model.competitionList)
            {
                <div class="card" style="width:300px; margin-top:5%; margin-left:3%;">
                    <img class="card-img-top" src="~/images/competition.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Competition Name : @item.CompetitionName</h4>
                        <p class="card-text">
                            Area Interest: @item.AreaInterestId
                        </p>
                        <p class="card-text">
                            Start Date: @item.StartDate
                        </p>
                        <p class="card-text">
                            End Date: @item.EndDate
                        </p>
                        <p class="card-text">
                            Result Release Date : @item.ResultReleasedDate
                        </p>

                    </div>
                    <div class="card-footer">
                        <a asp-action="Index" asp-controller="CompetitionCriteria"
                           asp-route-id="@item.CompetitionId" class="btn btn-dark">View Criteria</a>
                    </div>
                </div>
                <br>
            }

        </div>
    </div>

    <!-- Display a list of criteria for each competition -->
    @if (ViewData["selectedCompetitionId"].ToString() != "")
    {
        if (Model.criteriaList.Count != 0)
        {
            <h5 id="result" style="color:red; margin-top:5%"></h5>
            <h5>
                Criteria in Competition
                @ViewData["selectedCompetitionId"].ToString() :
            </h5>

            <partial name="~/Views/CompetitionCriteria/_ViewCompetitionCriteria.cshtml"
                     model="@Model.criteriaList" />

        }
        else
        {
            <h5>No criteria for selected competition!</h5>
        }
    }
</body>
</html>

