﻿@model WebAssgn_team06.Models.Judge

@{
    ViewData["Title"] = "Create Judge Profile";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <style type="text/css">
        body {
            background-color: rgba(0, 0, 255, 0.1);
            font: Poppins;
        }

        h4 {
            left: 100px;
            position: absolute;
        }

        hr.new1 {
            border: 8px solid purple;
            width: 30px;
            left: 100px;
            position: absolute;
        }

        .btn {
            box-sizing: border-box;
            background-color: transparent;
            border: 2px solid #5D18C5;
            border-radius: 0.6em;
            color: #5D18C5;
            cursor: pointer;
            display: flex;
            align-self: center;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            margin: 20px;
            padding: 1.2em 2.8em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

            .btn:hover, .btn:focus {
                color: #000;
                outline: 0;
            }

        .third {
            border-color: #5D18C5;
            color: #fff;
            box-shadow: 0 0 40px 40px #5D18C5 inset, 0 0 0 0 #5D18C5;
            transition: all 150ms ease-in-out;
        }

            .third:hover {
                box-shadow: 0 0 10px 0 #5D18C5 inset, 0 0 10px 4px #5D18C5;
            }

        .every {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            align-self: center;
        }

        .FormContent {
            background-color: #fff;
            border-block-color: #fff;
            border-color: #fff;
            box-shadow: 2px 2px 20px grey;
        }
    </style>
</head>

<body>
    <form asp-action="Create">
        <fieldset class="FormContent">
            <hr class="new1">
            <br />
            <br />
            <h4 class="PageTitle">Create Your Profile</h4>
            <br />
            <br />
            <div class="form-group row">
                <label asp-for="JudgeName"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="JudgeName" class="form-control" />
                    <span asp-validation-for="JudgeName"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Salutation"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <select asp-for="Salutation"
                            asp-items="@ViewData["SalutationList"]
                                    as List<SelectListItem>"
                            class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AreaInterestId"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <select asp-for="AreaInterestId"
                            asp-items="@(new SelectList(
                                @ViewData["AreaInterestList"] as List <AreaInterest>,
                                "AreaInterestId", "Name"))"
                            class="form-control"></select>
                    <span asp-validation-for="AreaInterestId"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="every">
                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <input type="submit" value="Create"
                               class="btn third" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</body>

</html>


