﻿@model IEnumerable<WebAssgn_team06.Models.Judge>

@{
    ViewData["Title"] = "View Judge";
}

<h4 class="PageTitle">Profile</h4>
<!-- Add a partial view to display a list of staff records
in a tabular format. -->
<partial name="~/Views/Judge/_ViewJudge.cshtml" model="@Model" />