﻿@model IEnumerable<WebAssgn_team06.Models.Comment>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewComment" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CommentID</th>
                    <th>CompetitionID</th>
                    <th>Description</th>
                    <th>Date Time Posted</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CommentId.ToString()</td>
                    <td>@item.CompetitionId.ToString()</td>
                    <td>@item.Description</td>
                    <td>@item.DateTimePosted</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}