﻿@model WebAssgn_team06.Models.Comment

@{
    ViewData["Title"] = "Submit Comments";
}

<h4 class="PageTitle">Add Comment Record</h4>
<hr />
<form asp-action="Create">
    <fieldset class="FormContent">
        @*<div class="form-group row">
            <label asp-for="CommentId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CommentId" class="form-control" />
                <span asp-validation-for="CommentId"
                      class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group row">
            <label asp-for="CompetitionId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionId" class="form-control" value="@ViewData["selectedCompetitionId"]" readonly/>
                <span asp-validation-for="CompetitionId"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"
                      class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group row">
            <label asp-for="DateTimePosted"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="DateTimePosted" class="form-control" readonly/>
                <span asp-validation-for="DateTimePosted"
                      class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>

