﻿@model IEnumerable<WebAssgn_team06.Models.Comment>

@{
    ViewData["Title"] = "View and Post Comment";
}

<h4 class="PageTitle">View and Post Comment</h4>
<p><a asp-action="Create">Create New Comment</a></p>
<!-- Add a partial view to display a list of comment records
in a tabular format. -->
<partial name="~/Views/Comment/_ViewComment.cshtml" model="@Model" />