﻿@model WebAssgn_team06.Models.CommentViewModel

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">View Competition Comment</h4>
<!-- Display a list of branches -->
<div class="table-responsive">
    <table id="viewC" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Competition ID</th>
                <th>Competition Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Result Released Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.competitionList)
            {
                string selectedRow = "";
                if (ViewData["selectedCompetitionId"].ToString()
                == item.CompetitionId.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }
                <tr @Html.Raw(selectedRow)>
                    <td>@item.CompetitionId.ToString()</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.ResultReleasedDate</td>
                    <td>
                        <a asp-action="Index" asp-controller="Comment"
                           asp-route-id="@item.CompetitionId">View Comment</a>
                    </td>
                    <td>
                        <a asp-action="Create" asp-controller="Comment"
                           asp-route-id="@item.CompetitionId">Create</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Display a list of comments for each competition -->
@if (ViewData["selectedCompetitionId"].ToString() != "")
{
    if (Model.commentList.Count != 0)
    {
        <h5>
            Comments in Competition
            @ViewData["selectedCompetitionId"].ToString() :
        </h5>
        <partial name="~/Views/Comment/_ViewComment.cshtml"
                 model="@Model.commentList" />

    }
    else
    {
        <h5>No comment for selected competition!</h5>
    }
}
