﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionScore>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewCompetitionScore" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CriteriaID</th>
                    <th>CompetitorID</th>
                    <th>CompetitionID</th>
                    <th>Score</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (Context.Session.GetString("LoginID") == item.Email.ToString())
                    {

                    @*//if (ViewData["selectedCompetitorId"].ToString() == item.CompetitorId.ToString())
                        //{*@
                <tr>
                    <td>@item.CriteriaId.ToString()</td>
                    <td>@item.CompetitorId.ToString()</td>
                    <td>@item.CompetitionId.ToString()</td>
                    <td>@item.Score.ToString()</td>
                    <td>@item.Email.ToString()</td>
                    <td>
                        @*<a asp-action="Delete" asp-controller="CompetitionScore"
            asp-route-id="@item.CompetitorId">Appeal</a>*@
                        <a href="~\CompetitionSubmission\Edit.cshtml">Appeal</a>
                        @* Create a Appeal View to send appeal form *@
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}
@*<!DOCTYPE html>
<html>
<head>
    <title>View Score</title>
    <style>
        body {
            font-family: arial;
            margin: 30px;
        }

        input {
            display: block;
            padding: 10px;
            font-size: 14pt;
            margin-top: 20px;
            margin-bottom: 20px;
            float: left;
        }

        button {
            padding: 12px;
            font-size: 14pt;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div id="story"></div>

    <input id="answerField" name="number" placeholder="Answer Here" />
    <button id="javascriptButton">Submit Answer</button>
    <script>
        // 
        function updateStory() {
            var finalAnswer = storyOutput;
            document.getElementById('story').innerHTML = finalAnswer;
        };

        // 
        var storyOutput = "Hey! This is an interactive story. Do you want to take part?";
        updateStory();

        //
        document.getElementById('javascriptButton').onclick = function interpretAnswer() {
            var inputResults = document.getElementById('answerField').value;
            answer = inputResults.toUpperCase();
            checkAnswer();
        };

        //
        function checkAnswer() {
            if (answer === "YES") {
                storyOutput = "Excellent!";
            }
            else if (answer === "CAN I THINK ABOUT IT?") {
                storyOutput = "Sure! Type something else in whenever you're ready.";
            }
            else if (answer === "1") {
                storyOutput = "Sure! Type something else in whenever you're ready.";
            }
            else if (answer === 'NO') {
                storyOutput = "Aw! Okay. See you later.";
            }
            else {
                // With no results, or bad results, repeat the question with more detail:
                storyOutput = "Hey! This is an interactive story. Do you want to take part? YES or NO";
            };
            updateStory();
        }
    </script>
</body>
</html>*@
