﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionScore>

@if (Model.ToList().Count > 0)
{
    @*@foreach (var item in Model)
    {*@
        
            <div class="table-responsive">
                <table id="viewCompetitionScore" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>CriteriaID</th>
                            <th>CompetitorID</th>
                            <th>CompetitionID</th>
                            <th>Score</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (Context.Session.GetInt32("CompetitionId") == item.CompetitionId)
                            {
                                @*//if (ViewData["selectedCompetitorId"].ToString() == item.CompetitorId.ToString())
                                //{*@
                                <tr>
                                    <td>@item.CriteriaId.ToString()</td>
                                    <td>@item.CompetitorId.ToString()</td>
                                    <td>@item.CompetitionId.ToString()</td>
                                    <td>@item.Score.ToString()</td>
                                    <td>
                                        <a asp-action="Delete" asp-controller="CompetitionScore"
                                           asp-route-id="@item.CompetitorId">Delete</a>
                                    </td>
                                </tr>
                            }
                           
                        }


                    </tbody>
                </table>
            </div>

        
    
}
else
{
    <span style="color:red">No record found!</span>
}