﻿@model WebAssgn_team06.Models.CompetitionScore

@{
    ViewData["Title"] = "Create";
}

<h4 class="PageTitle">Competition Score</h4>
<hr />
<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitorId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitorId" class="form-control-plaintext" value="@ViewData["CompetitorId"]" readonly />
                <span asp-validation-for="CompetitorId"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CompetitionId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CompetitionId" class="form-control-plaintext" value="@ViewData["CompetitionId"]" readonly />
                <span asp-validation-for="CompetitionId"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CriteriaId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <select asp-for="CriteriaId"
                        asp-items="@(new SelectList(
                                @ViewData["CompetitorCriteriaList"] as List <Criteria>,
                                "CriteriaId", "CriteriaName"))"
                        class="form-control"></select>
                <span asp-validation-for="CriteriaId"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Score"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>