﻿@model WebAssgn_team06.Models.CompetitionScoreViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">Competition Score</h4>
<!-- Display a list of competition -->
<div class="container">
    <div class="row">
        @foreach (var item in Model.competitionList)
        {
            <div class="card" style="width:300px; margin-top:5%; margin-left:3%;">
                <img class="card-img-top" src="~/images/competition.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Competition Name : @item.CompetitionName</h4>
                    <p class="card-text">
                        Area Interest: @item.AreaInterestId
                    </p>
                    <p class="card-text">
                        Start Date: @item.StartDate
                    </p>
                    <p class="card-text">
                        End Date: @item.EndDate
                    </p>
                    <p class="card-text">
                        Result Release Date : @item.ResultReleasedDate
                    </p>
                </div>
                <div class="card-footer">
                    @if (item.ResultReleasedDate >= DateTime.Now)
                    {
                        <div class="container">
                            <div class="row">
                                @*<a asp-action="IndexCompetitor" asp-controller="CompetitionScore"
                                   asp-route-id="@item.CompetitionId" class="btn btn-dark">Submission</a>
                                &nbsp;*@
                                @*<a asp-action="IndexCompetitor3" asp-controller="CompetitionScore"
                                   asp-route-id="@item.CompetitionId" class="btn btn-dark">Score</a>*@
                            </div>
                        </div>

                    }
                    else
                    {
                        <a asp-action="IndexCompetitor2" asp-controller="CompetitionScore"
                           asp-route-id="@item.CompetitionId" class="btn btn-dark">Score</a>
                    }
                </div>
            </div>
            <br>
        }

    </div>
</div>


@*<div class="table-responsive">
        <table id="viewCS" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Competition ID</th>
                    <th>Competition Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Result Released Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.competitionList)
                {
                    string selectedRow = "";
                    if (ViewData["selectedCompetitionId"].ToString()
                    == item.CompetitionId.ToString())
                    {
                        // Highlight the selected row
                        selectedRow = "class='table-primary'";
                    }
                    <tr @Html.Raw(selectedRow)>
                        <td>@item.CompetitionId.ToString()</td>
                        <td>@item.CompetitionName</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.ResultReleasedDate</td>
                        <td>
                            @if (item.ResultReleasedDate >= DateTime.Now)
                            {
                                <a asp-action="Index" asp-controller="CompetitionScore"
                                   asp-route-id="@item.CompetitionId">View Submission</a>
                                <br />
                                <a asp-action="Index2" asp-controller="CompetitionScore"
                                   asp-route-id="@item.CompetitionId">View Score</a>
                            }
                            else
                            {
                                <a asp-action="Index3" asp-controller="CompetitionScore"
                                   asp-route-id="@item.CompetitionId">View Score</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@
<!-- Display a list of staff members for each branch -->
@if (ViewData["selectedCompetitionId"].ToString() != "")
{
    if (Model.competitionSubmissionsList.Count != 0)
    {
        <h5>
            Competition submission in Competition
            @ViewData["selectedCompetitionId"].ToString() :
        </h5>
        <partial name="~/Views/CompetitionSubmission/_ViewCompetitionSubmission(Score).cshtml"
                 model="@Model.competitionSubmissionsList" />

    }
    else
    {
        <h5>No submission for selected competition!</h5>
    }
}
