﻿@model WebAssgn_team06.Models.CompetitionScoreViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index4";
}

<h4 class="PageTitle">Competition Score</h4>
<!-- Display a list of branches -->
<div class="table-responsive">
    <table id="viewCS" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Competition ID</th>
                <th>Competition Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Result Released Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.competitionList)
            {
                string selectedRow = "";
                if (ViewData["selectedCompetitionId"].ToString()
                == item.CompetitionId.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }
                <tr @Html.Raw(selectedRow)>
                    <td>@item.CompetitionId.ToString()</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.ResultReleasedDate</td>
                    <td>
                        @if (item.ResultReleasedDate >= DateTime.Now)
                        {
                            <a asp-action="Index" asp-controller="CompetitionScore"
                               asp-route-id="@item.CompetitionId">View Submission</a>
                            <br />
                            <a asp-action="Index2" asp-controller="CompetitionScore"
                               asp-route-id="@item.CompetitionId">View Score</a>
                        }
                        else
                        {
                            <a asp-action="Index3" asp-controller="CompetitionScore"
                               asp-route-id="@item.CompetitionId">View Score</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Display a list of staff members for each branch -->
@if (ViewData["selectedCompetitionId"].ToString() != "")
{
    if (Model.competitionSubmissionsList.Count != 0)
    {
        <h5>
            Competition submission in Competition
            @ViewData["selectedCompetitionId"].ToString() :
        </h5>
        <partial name="~/Views/CompetitionSubmission/_ViewCSCompetitorScore.cshtml"
                 model="@Model.competitionSubmissionsList" />

    }
    else
    {
        <h5>No submission for selected competition!</h5>
    }
}
