﻿@model IEnumerable<WebAssgn_team06.Models.CompetitionScore>

@{
    ViewData["Title"] = "View Competition Score";
}

<h4 class="PageTitle">View Competition Score</h4>

<!-- Add a partial view to display a list of competition score records
in a tabular format. -->
<partial name="~/Views/CompetitionScore/_ViewCompetitionScore.cshtml" model="@Model" />
