﻿@model WebAssgn_team06.Models.CompetitionScoreViewModel

@{
    ViewData["Title"] = "SubmissionScore";
}

<h1>SubmissionScore</h1>

@if (ViewData["selectedCompetitorId"].ToString() != "")
{
    if (Model.competitionScoreList.Count != 0)
    {
        <h5>
            Competition submission score in Competition
            @ViewData["selectedCompetitorId"].ToString() :
        </h5>
        <partial name="~/Views/CompetitionScore/_ViewCompetitionScore.cshtml"
                 model="@Model.competitionScoreList" />
    }
    else
    {
        <h5>No score for selected submission!</h5>
    }
}
